@charset "UTF-8";
@import url(style_Reset.css);

/* 가이드라인 시작 */

/* div#wrap {
  border: 1px solid #000;
}
header#header {
  border: 1px solid #000;
}

main#main {
  border: 1px solid #000;
} */

/* 가이드라인 끝 */

/* div#wrap 시작 */

div#wrap {
  width: 820px;
  padding: 10px;
  margin: 20px auto;
}

/* div#wrap  끝 */

/* multiTabArea 시작 */

div#multiTabArea > div {
  color: #aaa;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 26px;
  flex: 1;

  cursor: pointer;

  border-bottom: 2px solid #aaa;
}

div#multiTabArea .selected {
  color: #333;
  border-color: #333;
}

/* multiTabArea 끝 */

/* main#loginArea 시작 */

main#main {
  padding: 10px;
}

#main .mainContents {
  flex: 1;
}

#main #verticalLine {
  width: 1px;
  background-color: #aaa;
}

#main #loginTbl {
  /* border: 1px solid #000; */
}

#main #loginArea #loginTbl input {
  width: 250px;
  padding: 8px;
}

#main #loginArea button {
  color: #fff;
  width: 74px;
  height: 74px;
  font-weight: bold;
  margin-left: 6px;
  border: none;
  background-color: #000;
}

#main div#loginItem {
  width: 340px;
  padding-left: 2px;
  /* border: 1px solid #000; */
  margin: 10px 0;
}

#main table#loginItemTbl {
  /* border: 1px solid #000; */
  font-size: 12px;
}

#main table#loginItemTbl td:nth-child(2) {
  width: 145px;
  font-size: 14px;
  padding-left: 6px;
}

#main table#loginItemTbl input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

#main #loginItemTbl a:first-child {
  padding: 0 5px;
  text-decoration: underline;
}
#main #loginItemTbl a:last-child {
  font-size: 12px;
  padding: 0 5px;
  text-decoration: underline;
}

#main hr {
  width: 340px;
  margin: 30px 0;
}

/* #main #easyLogin {
  width: 340px;
  justify-content: space-between;
}

#main #easyLogin div {
  border: 1px solid #000;
} */

#main #easyLogin {
  width: 340px;
  /* border: 1px solid #000; */
}

#main #easyLogin td {
  font-size: 12px;
  /* border: 1px solid #000; */
  vertical-align: middle;
}

#main #easyLogin td:last-child {
  text-align: right;
}

#main #easyLogin td:last-child span {
  width: 93px;
  /* border: 1px solid #000; */
  display: inline-block;
}

/* div#joinLink 시작 */
#main div#joinLink {
  padding-left: 54px;
  padding-right: 0;
}

#main #joinLink h2 {
  font-size: 21px;
}
#main #joinLink h2:first-child {
  color: #888;
}
#main #joinLink p {
  color: #555;
  font-size: 13px;
  line-height: 23px;
  margin: 20px 0;
}

#main #joinLink div#joinLinkTxt {
  margin-top: 40px;
}
#main #joinLink a {
  font-size: 15px;
  padding-bottom: 6px;
  border-bottom: 1px solid #000;
}
/* div#joinLink 시작 */

/* main#main 끝 */

/* main#loginArea 끝*/
